# Database Client Exercises for Capstone Project

## Exercise: Set up the client project

In [2]:
# Import the connector under the alias connector:
import mysql.connector as connector

In [5]:
# Verify that a connection can be made with your database by calling the connection method from the connector class: 
connection = connector.connect(user = "capstone_user", password = "capstone_user_password", db = "LittleLemonDBFour")

## Exercise: Add query functions

**Task One**
- In the previous exercise you created a Python environment. In the first task of this exercise, you are tasked with extending the environment to connect with your database and interact with the data it holds. 

- Your first step is to import the connector module, enter your user details and connect with the database (Hint: you can use an alias when importing the module).

- This gives you access to all the functionality available from the connector API, which can be accessed through the variable named connector (or whichever alias you choose). 

- To connect with your database, you can call the connect method of the connector class and pass in your details using the following code:

In [6]:
# instantiate an instance of cursor
cursor = connection.cursor()

In [7]:
# Set the database for use
cursor.execute("USE LittleLemonDBFour;")

**Task two**
- In this second task, you now need to query the database to show all tables within the database.

In [20]:
# list all tables in the database
show_tables_query = "SHOW tables;" 

# run the query
cursor.execute(show_tables_query)

In [21]:
# store the results of the show_tables_query query
results=cursor.fetchall()

In [22]:
# print all table names
print(results)

[('Bookings',), ('Customers',), ('Delivery',), ('Menu',), ('MenuItems',), ('Orders',), ('ordersview',), ('Staff',)]

**Task 3**
- Query with table JOIN

In [23]:
# create the query
join ="""
SELECT Customers.CustomerID, Customers.FirstName, Customers.LastName, Customers.Email, Customers.ContactNumber
FROM Customers
JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60;
"""

In [25]:
# run the query
cursor.execute(join)

In [26]:
# store the results of the query
results=cursor.fetchall()

In [28]:
# store the column names
columns=cursor.column_names
# print column names
print(columns)

# print the results of the query
for result in results:
    print(result)

('CustomerID', 'FirstName', 'LastName', 'Email', 'ContactNumber')
(1, 'Dan', 'Boyd', 'DBoyd@gmail.com', '456222222')
(3, 'Ben', 'Dover', 'BDover@gmail.co ', '1724932827')